[worldserver]

###################################################################################################
# Eternal Wrath
###################################################################################################

###################################################################################################

EternalWrath.Enable = 1;